$primary-gradient: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
$secondary-gradient: linear-gradient(45deg, #07eee0 50%, #df496d 100%);
$border-icon-color: #4bd8b5;
$border-avatar-color: #bdbdbd;
$pin-fill-color: #4bd8b5;
$pin-fill-hover-color: #49d6df;
$pin-active: #eb5757;
$social-icon-color: #ffffff;
$social-icon-color-hover: #333333;
$drop-shadow-color: #333333;
$box-shadow-color: rgba(6, 12, 70, 0.15);

$content-width-desktop-max: 1620px;
$content-width-desktop-min: 900px;
$content-width-tablet: 600px;
$content-width-mobile: 300px;
