$primary-gradient: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
$secondary-gradient: linear-gradient(45deg, #07eee0 50%, #df496d 100%);
$active-gradient: linear-gradient(103.3deg, #07eee0 -15.1%, #df496d 92.15%);
$button-background-color: #4bd8b5;
$button-background-hover-color: #49d6df;
$info-watch-text-color: #4bd8b5;
$info-donate-text-color: #ffffff;
$cap-color: #00000075;
$border-icon-color: #4bd8b5;
$border-avatar-color: #bdbdbd;
$pin-fill-color: #4bd8b5;
$pin-fill-hover-color: #eb5757;
$pin-active: #eb5757;
$dot-color: #c4c4c4;
$social-icon-color: #ffffff;
$social-icon-color-hover: #bdbdbd;
$drop-shadow-color: #333333;
$box-shadow-color: rgba(6, 12, 70, 0.15);
$primary-footer-color: #fefefe;
$secondary-footer-color: #bdbdbd;
$placeholder-footer-color: #e0e0e0;

$content-width-desktop-max: 1620px;
$content-width-desktop-min: 900px;
$content-width-tablet: 600px;
$content-width-mobile: 300px;

$width-for-zoos-max: 1919px;
$width-for-zoos-min: 1600px;

$width-desktop-max: 1599px;
$width-desktop-min: 1200px;
$width-tablet-max: 1199px;
$width-tablet-min: 640px;
$width-mobile-max: 639px;
$width-mobile-min: 320px;
