%transition {
  transition: all 0.3s ease-out;
}

%font {
  font-family: 'Roboto', sans-serif;
}

%button-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  background: $button-background-color;
}

%arrow-reset {
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

%reset-input {
  width: 383px;
  padding: 6px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid $secondary-footer-color;
  background-color: transparent;
  color: $primary-footer-color;
}
