%transition {
  transition: all 0.3s ease-out;
}

%font {
  font-family: 'Roboto', sans-serif;
}

%button-reset {
  border: none;
  outline: none;
  border-radius: 3px;
  background: $primary-gradient;
}

%arrow-reset {
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

%reset-input {
  width: 383px;
  padding: 6px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid $secondary-footer-color;
  background-color: transparent;
  color: $primary-footer-color;
}
