html {
  font-size: 10px;
}

body {
  @extend %font;
  @include font-size(1.6rem, normal);
  background-color: var(--primary-background-color);
}

h1 {
  @include font-size(2.8rem, 900);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--primary-text-color);
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

.text {
}

iframe {
  border-radius: 5px;
}
