.info {
  position: absolute;
  width: 197px;

  .info__text {
    margin-bottom: 14px;
    @include font-size(1.4rem, 300);
    color: var(--base-color);
    line-height: 1.6rem;
    letter-spacing: 0.5px;
    cursor: text;
  }

  .info__watch,
  .info__donate {
    position: relative;
    display: inline-block;
    opacity: 0.7;
    @include font-size(1.2rem, 500);
    line-height: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    @extend %transition;

    &:hover {
      opacity: 1;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0px;
      display: inline-block;
      width: 24px;
      height: 24px;
      content: '';
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  .info__watch {
    padding-left: 27px;
    margin-right: 7px;
    color: $info-watch-text-color;

    &::before {
      background-image: url(./assets/img/control/play-info.svg);
    }
  }

  .info__donate {
    padding-left: 27px;
    color: $info-donate-text-color;

    &::before {
      background-image: url(./assets/img/icon/donate.svg);
    }
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .info {
    width: 128px;

    .info__text {
      @include font-size(1.2rem, 300);
      margin-bottom: 7px;
      line-height: 1.4rem;
    }

    .info__watch,
    .info__donate {
      display: block;
      @include font-size(1rem, 500);

      &::before {
        width: 23px;
        height: 23px;
      }
    }

    .info__watch {
      margin-bottom: 4px;
    }
  }
}
