.location__pin {
  width: 67px;
  height: 94px;
  cursor: pointer;

  .pin-icon {
    width: 67px;
    height: 94px;
    fill: $pin-fill-color;
    @extend %transition;

    &:hover {
      fill: $pin-fill-hover-color;

      ~ .location__avatar {
        transform: translateX(-50%) scale(0.9);
      }
    }
  }
}

.pin--eagle {
  &:hover {
    ~ .location__card.card--eagle {
      top: 150px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin--alligator {
  &:hover {
    ~ .location__card.card--alligator {
      top: 182px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin--gorilla {
  &:hover {
    ~ .location__card.card--gorilla {
      top: 266px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin--panda {
  &:hover {
    ~ .location__card.card--panda {
      top: 168px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin-icon.pin-active {
  fill: $pin-active;
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .pin--eagle {
    &:hover {
      ~ .location__card.card--eagle {
        top: 132px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .pin--alligator {
    &:hover {
      ~ .location__card.card--alligator {
        top: 146px;
      }
    }
  }

  .pin--gorilla {
    &:hover {
      ~ .location__card.card--gorilla {
        top: 232px;
      }
    }
  }

  .pin--panda {
    &:hover {
      ~ .location__card.card--panda {
        top: 146px;
      }
    }
  }
}
