.location__pin {
  width: 67px;
  height: 94px;
  cursor: pointer;

  .pin-icon {
    width: 67px;
    height: 94px;
    fill: $pin-fill-color;
    @extend %transition;

    &:hover {
      fill: $pin-fill-hover-color;

      ~ .location__avatar {
        transform: translateX(-50%) scale(0.9);
      }
    }
  }
}

.pin--eagle {
  &:hover {
    ~ .location__card.card--eagle {
      top: 150px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin--alligator {
  &:hover {
    ~ .location__card.card--alligator {
      top: 182px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin--gorilla {
  &:hover {
    ~ .location__card.card--gorilla {
      top: 266px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin--panda {
  &:hover {
    ~ .location__card.card--panda {
      top: 168px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.pin-icon.pin-active {
  fill: $pin-active;
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .pin--eagle {
    &:hover {
      ~ .location__card.card--eagle {
        top: 132px;
      }
    }
  }

  .pin--alligator {
    &:hover {
      ~ .location__card.card--alligator {
        top: 146px;
      }
    }
  }

  .pin--gorilla {
    &:hover {
      ~ .location__card.card--gorilla {
        top: 232px;
      }
    }
  }

  .pin--panda {
    &:hover {
      ~ .location__card.card--panda {
        top: 146px;
      }
    }
  }
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .pin--eagle {
    &:hover {
      ~ .location__card.card--eagle {
        top: 77px;
      }
    }
  }

  .pin--alligator {
    &:hover {
      ~ .location__card.card--alligator {
        top: 82px;
      }
    }
  }

  .pin--gorilla {
    &:hover {
      ~ .location__card.card--gorilla {
        z-index: 1;
        top: 136px;
      }
    }
  }

  .pin--panda {
    &:hover {
      ~ .location__card.card--panda {
        top: 80px;
      }
    }
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .location__pin {
    width: 33px;
    height: 46px;

    .pin-icon {
      width: 33px;
      height: 46px;
    }
  }

  .pin--eagle {
    &:hover {
      ~ .location__card.card--eagle {
        top: 36px;
      }
    }
  }

  .pin--alligator {
    &:hover {
      ~ .location__card.card--alligator {
        z-index: 1;
        top: 44px;
      }
    }
  }

  .pin--gorilla {
    &:hover {
      ~ .location__card.card--gorilla {
        z-index: 1;
        top: 70px;
      }
    }
  }

  .pin--panda {
    &:hover {
      ~ .location__card.card--panda {
        top: 42px;
      }
    }
  }
}
