.secondary-map {
  z-index: -1;
  background-color: var(--third-background-color);
}

.secondary-map__wrapper {
  @include alignment(space-between, center, column, nowrap);
  width: 100%;
  padding: 50px 0 100px;
}

.secondary-map__description {
  @include alignment(center, center, column, nowrap);
  width: 100%;
  margin-bottom: 54px;

  .description__title {
    margin-bottom: 14px;
  }

  .description__text {
    width: 790px;
    letter-spacing: 0.15px;
    line-height: 1.6rem;
    color: var(--secondary-text-color);
  }
}

.secondary-map___arrow {
  position: absolute;
  top: 27%;
  left: 50%;
  z-index: 1;
  @include alignment(space-between, center, row, nowrap);
  width: 75%;
  transform: translate(-50%, -50%);
}

.secondary-map__slider {
  position: relative;
  @include alignment(center, center, row, nowrap);
  width: 100%;
  margin-bottom: 28px;
  padding: 0 56px;

  .slider__image {
    @include alignment(center, center, row, nowrap);

    .image__container {
      z-index: 1;
      width: 108px;
      height: 108px;
      margin: 0 15px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .container--current {
      @include alignment(center, center, column, nowrap);
      width: 157px;
      height: 157px;
      margin: 0 -10px;
      background: $active-gradient;
      border-radius: 50%;
      cursor: default;

      img {
        width: 137px;
        height: 137px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 7px var(--secondary-background-color);
      }
    }
  }
}

.secondary-map__control {
  @include alignment(center, center, column, nowrap);
  margin-bottom: 80px;

  .control__counter {
    margin-bottom: 8px;
  }
}

.secondary-map__map {
  margin-bottom: 46px;
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .secondary-map__description {
    margin-bottom: 35px;
  }

  .secondary-map__slider {
    margin-bottom: 20px;

    .slider___arrow {
      width: 90%;
    }

    .slider__image {
      @include alignment(flex-start, center, row, nowrap);
      width: 660px;
      overflow: hidden;

      .image__container {
        min-width: 108px;
      }

      .container--current {
        min-width: 157px;
      }
    }
  }

  .secondary-map__control {
    margin-bottom: 51px;
  }

  .secondary-map__map {
    margin-bottom: 35px;

    .map__earth {
      width: 800px;
      height: 388px;

      .earth__image {
        background-image: var(--map-min);
      }
    }

    .map__location {
      .location__pin {
        width: 59px;
        height: 83px;

        .pin-icon {
          width: 59px;
          height: 83px;
        }
      }

      .pin--eagle {
        top: 47px;
        left: 76px;
      }

      .pin--alligator {
        top: 59px;
        left: 156px;
      }

      .pin--gorilla {
        top: 137px;
        left: 374px;
      }

      .pin--panda {
        top: 59px;
        left: 584px;
      }

      .location__avatar {
        top: 12px;
        left: 50%;
        width: 35px;
        height: 35px;
      }

      .card--eagle {
        top: 152px;
        left: 104px;
      }

      .card--alligator {
        top: 164px;
        left: 184px;
      }

      .card--gorilla {
        top: 240px;
        left: 402px;
      }

      .card--panda {
        top: 166px;
        left: 180px;
      }

      .pin--eagle {
        &:hover {
          ~ .location__card.card--eagle {
            top: 132px;
          }
        }
      }

      .pin--alligator {
        &:hover {
          ~ .location__card.card--alligator {
            top: 144px;
          }
        }
      }

      .pin--gorilla {
        &:hover {
          ~ .location__card.card--gorilla {
            top: 220px;
          }
        }
      }

      .pin--panda {
        &:hover {
          ~ .location__card.card--panda {
            top: 146px;
          }
        }
      }
    }
  }
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .secondary-map__wrapper {
    padding: 51px 0 80px;
  }

  .secondary-map__description {
    margin-bottom: 35px;

    .description__text {
      width: 600px;
    }
  }

  .secondary-map__slider {
    margin-bottom: 20px;
    padding: 0 36px;

    .slider___arrow {
      width: 102%;
    }

    .slider__image {
      @include alignment(flex-start, center, row, nowrap);
      width: 515px;
      overflow: hidden;

      .image__container {
        min-width: 108px;
        margin: 0 5px;
      }

      .container--current {
        min-width: 157px;
      }
    }
  }

  .secondary-map__control {
    margin-bottom: 35px;
  }

  .secondary-map__map {
    margin-bottom: 35px;

    .map__earth {
      width: 600px;
      height: 290px;

      .earth__image {
        background-image: var(--map-min);
      }
    }

    .map__location {
      .pin--eagle {
        top: 6px;
        left: 53px;
      }

      .pin--alligator {
        top: 16px;
        left: 104px;
      }

      .pin--gorilla {
        top: 68px;
        left: 268px;
      }

      .pin--panda {
        top: 11px;
        left: 428px;
      }

      .card--eagle {
        top: 100px;
        left: 70px;
      }

      .card--alligator {
        top: 110px;
        left: 120px;
      }

      .card--gorilla {
        top: 164px;
        left: 96px;
      }

      .card--panda {
        top: 106px;
        left: 42px;
      }

      .pin--eagle {
        &:hover {
          ~ .location__card.card--eagle {
            top: 80px;
          }
        }
      }

      .pin--alligator {
        &:hover {
          ~ .location__card.card--alligator {
            top: 90px;
          }
        }
      }

      .pin--gorilla {
        &:hover {
          ~ .location__card.card--gorilla {
            top: 144px;
          }
        }
      }

      .pin--panda {
        &:hover {
          ~ .location__card.card--panda {
            top: 86px;
          }
        }
      }
    }
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .secondary-map__wrapper {
    padding: 32px 0 61px;
  }

  .secondary-map__description {
    margin-bottom: 39px;

    .description__title {
      margin-bottom: 6px;
      @include font-size(2.4rem, 900);
    }

    .description__text {
      width: 280px;
      line-height: 1.4rem;
      letter-spacing: -0.01px;
      @include font-size(1.2rem, 300);
    }
  }

  .secondary-map__slider {
    margin-bottom: 15px;
    padding: 0 34px;

    .slider___arrow {
      width: 98%;
    }

    .slider__image {
      @include alignment(flex-start, center, row, nowrap);
      width: 225px;
      overflow: hidden;

      .image__container {
        min-width: 60px;
        height: 60px;
        margin: 0 5px;
      }

      .container--current {
        min-width: 85px;
        height: 85px;

        img {
          width: 75px;
          height: 75px;
          box-shadow: 0px 0px 0px 3px var(--secondary-background-color);
        }
      }
    }
  }

  .secondary-map__control {
    margin-bottom: 35px;
  }

  .secondary-map__map {
    margin-bottom: 35px;
  }
}
