.header {
  background-color: var(--header-background-color);
}

.header__wrapper {
  @include alignment(space-between, center, row, nowrap);
  width: 100%;
  padding: 18px 0 20px;
}

.header__logo {
  @include alignment(space-between, center, column, nowrap);
  color: var(--primary-text-color);
  text-decoration: none;

  span {
    margin-top: -12px;
    @include font-size(1.7rem, 900);
    letter-spacing: 2.5px;
  }
}

.header__navigation {
  ul {
    @include alignment(center, center, row, nowrap);
    margin-right: 40px;

    li {
      position: relative;
      padding-top: 10px;
      margin: 0 42px;

      &:hover {
        &::after {
          @include underline(var(--primary-text-color));
        }
      }

      &.navigation__current {
        position: relative;
        @include font-size(1.6rem, 900);
        cursor: default;

        &::after {
          @include underline(var(--primary-text-color));
        }
      }

      a {
        @include font-size(1.6rem, 500);
        text-decoration: none;
        color: var(--primary-text-color);
      }
    }
  }
}
