.header {
  z-index: 9;
  background-color: var(--header-background-color);
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.header__wrapper {
  @include alignment(space-between, center, row, nowrap);
  width: 100%;
  padding: 18px 0 21px;
}

.header__logo {
  @include alignment(space-between, center, column, nowrap);
  color: var(--primary-text-color);
  text-decoration: none;

  .logo__secondary-header {
    margin-top: -12px;
    @include font-size(1.7rem, 900);
    letter-spacing: 2.5px;
  }
}

.header__navigation {
  ul {
    @include alignment(center, center, row, nowrap);
    margin-right: 6px;

    li {
      position: relative;
      padding-top: 10px;
      margin: 0 42px;
      color: var(--primary-text-color);
      cursor: pointer;

      &::after {
        @include underline(var(--primary-text-color));
        @extend %transition;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }

      &.navigation__current {
        position: relative;
        @include font-size(1.6rem, 900);
        cursor: default;

        &::after {
          @include underline(var(--primary-text-color));
          transform: scaleX(1);
        }
      }

      a {
        @include font-size(1.6rem, 500);
        text-decoration: none;
        color: var(--primary-text-color);
      }
    }
  }
}

.header__burger {
  display: none;
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .header__navigation {
    display: none;
  }

  .header__burger {
    position: absolute;
    right: 0;
    top: 50%;
    @include alignment(space-between, flex-end, column, wrap);
    width: 40px;
    height: 21px;
    transform: translateY(-50%);

    .burger__line {
      width: 100%;
      height: 3px;
      background-color: var(--primary-text-color);

      &:last-child {
        width: 80%;
      }
    }
  }
}
