.pay-and-feed {
  background-color: var(--secondary-background-color);
}

.pay-and-feed__wrapper {
  @include alignment(space-between, center, column, nowrap);
  width: 100%;
  padding: 91px 0 100px;
}

.pay-and-feed__description {
  @include alignment(space-between, center, column, nowrap);
  margin-bottom: 88px;

  .pay-and-feed__title {
    margin-bottom: 22px;
  }

  .pay-and-feed__text {
    letter-spacing: 0.1px;
  }
}

.pay-and-feed__content {
  @include alignment(center, center, row, nowrap);
  width: 100%;
  margin-bottom: 60px;

  .content__step {
    @include alignment(center, center, column, nowrap);
    width: 245px;
    height: 245px;
    border-radius: 50%;
    border: 3px solid $border-icon-color;

    .step__icon {
      margin-top: 4px;
      margin-bottom: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .icon--card {
      width: 65px;
      height: 54px;

      background-image: url(./assets/img/icon/card.svg);
    }

    .icon--gate {
      width: 60px;
      height: 60px;
      background-image: url(./assets/img/icon/gate.svg);
    }

    .icon--pet {
      width: 70px;
      height: 58px;
      background-image: url(./assets/img/icon/pet.svg);
    }

    .step__title {
      width: 134px;
      text-align: center;
      line-height: 22px;
    }
  }

  .content-step__arrow {
    @include alignment(center, center, column, nowrap);
    width: 107px;
    height: 245px;
    margin: 0 63px;
  }
}
