.pets-in-zoo__wrapper {
  @include alignment(space-between, center, column, nowrap);
  width: 100%;
  padding: 91px 0 100px;
}

.pets-in-zoo__title {
  margin-bottom: 28px;
}

.pay-and-feed__text {
  color: var(--secondary-text-color);
}

.pets-in-zoo__slider {
  position: relative;
  @include alignment(center, center, row, nowrap);
  margin-bottom: 25px;
  padding: 0 56px;

  .slider___arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    @include alignment(space-between, center, row, nowrap);
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .slider__image {
    @include alignment(space-between, center, row, nowrap);

    .image__container {
      position: relative;
      z-index: 1;
      width: 278px;
      height: 400px;
      margin: 0 15px;
      overflow: hidden;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      &:hover {
        .container__cap {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          @extend %transition;
        }

        .container__info {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          @extend %transition;
        }
      }
    }

    .container__cap {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      opacity: 0;
      visibility: hidden;
      border-radius: 5px;
      background-color: $cap-color;
      transform: translateY(100%);
      @extend %transition;
    }

    .container__info {
      bottom: 45px;
      left: 23px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100px);
      @extend %transition;
    }
  }
}

.pets-in-zoo__control {
  @include alignment(center, center, column, nowrap);
  margin-bottom: 30px;

  .control__counter {
    margin-bottom: 8px;
  }
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .pets-in-zoo__title {
    margin-bottom: 26px;
  }

  .pets-in-zoo__slider {
    .slider__image {
      .image__container {
        width: 210px;
        height: 301px;
        margin: 0 10px;
      }

      .container__info {
        bottom: 32px;
        left: 9px;

        .info__watch {
          margin-right: 2px;
        }
      }
    }
  }
}
