.pets-in-zoo__wrapper {
  @include alignment(space-between, center, column, nowrap);
  width: 100%;
  padding: 91px 0 100px;
}

.pets-in-zoo__title {
  margin-bottom: 28px;
}

.pay-and-feed__text {
  color: var(--secondary-text-color);
}

.pets-in-zoo___arrow {
  position: absolute;
  top: 46%;
  left: 50%;
  @include alignment(space-between, center, row, nowrap);
  width: 81%;
  transform: translate(-50%, -50%);
}

.pets-in-zoo__slider {
  position: relative;
  @include alignment(flex-start, center, row, nowrap);
  width: 1202px;
  margin-bottom: 25px;
  overflow: hidden;

  .slider__image {
    position: relative;
    left: 0px;
    @include alignment(flex-start, center, row, nowrap);
    margin-right: 110px;
    @extend %transition;

    .image__container {
      position: relative;
      z-index: 1;
      min-width: 278px;
      height: 400px;
      margin: 0 15px;
      cursor: pointer;

      &:nth-child(4n + 1) {
        margin-left: 0;
      }

      &:nth-child(4n) {
        margin-right: 0px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      &:hover {
        .container__cap {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          @extend %transition;
        }

        .container__info {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          @extend %transition;
        }
      }
    }

    .container__cap {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      opacity: 0;
      visibility: hidden;
      border-radius: 5px;
      background-color: $cap-color;
      transform: translateY(100%);
      @extend %transition;
    }

    .container__info {
      bottom: 45px;
      left: 23px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100px);
      @extend %transition;
    }
  }
}

.pets-in-zoo__control {
  @include alignment(center, center, column, nowrap);
  margin-bottom: 30px;

  .control__counter {
    margin-bottom: 8px;
  }
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .pets-in-zoo__title {
    margin-bottom: 26px;
  }

  .pets-in-zoo___arrow {
    top: 46%;
    left: 50%;
    width: 112%;
  }

  .pets-in-zoo__slider {
    width: 900px;

    .slider__image {
      .image__container {
        min-width: 210px;
        height: 301px;
        margin: 0 10px;
      }

      .container__info {
        bottom: 32px;
        left: 9px;

        .info__watch {
          margin-right: 2px;
        }
      }
    }
  }
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .pets-in-zoo___arrow {
    display: none;
  }

  .pets-in-zoo__slider {
    width: 600px;
    padding: 0 0px;
    margin-bottom: 30px;
    overflow: hidden;

    .slider__image {
      .image__container {
        min-width: 210px;
        height: 301px;
        margin: 0 10px;
      }

      .container__info {
        bottom: 32px;
        left: 9px;

        .info__watch {
          margin-right: 2px;
        }
      }
    }
  }

  .pets-in-zoo__control {
    margin-bottom: 36px;
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .pets-in-zoo__wrapper {
    padding: 93px 0 50px;
  }

  .pets-in-zoo__title {
    margin-bottom: 25px;
  }

  .pets-in-zoo___arrow {
    display: none;
  }

  .pets-in-zoo__slider {
    width: 300px;
    padding: 0 0px;
    margin-bottom: 26px;
    overflow: hidden;

    .slider__image {
      .image__container {
        min-width: 210px;
        height: 301px;
        margin: 0 8px;
      }

      .container__info {
        bottom: 32px;
        left: 9px;

        .info__watch {
          margin-right: 2px;
        }
      }
    }
  }

  .pets-in-zoo__control {
    margin-bottom: 26px;
  }
}
