.primary-map {
  background-color: var(--secondary-background-color);
}

.primary-map__wrapper {
  @include alignment(space-between, center, column, nowrap);
  width: 100%;
  padding: 92px 0 100px;
}

.primary-map__title {
  margin-bottom: 53px;
}

.primary-map__map,
.secondary-map__map {
  position: relative;
  margin-bottom: 35px;

  .map__earth {
    width: 1200px;
    height: 498px;

    .earth__image {
      width: 100%;
      height: 100%;
      background-image: var(--map-max);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .map__location {
    position: absolute;
    top: 0;
    left: 0;

    .location__pin {
      position: absolute;
      @include alignment(center, center, column, nowrap);
    }

    .pin--eagle {
      top: 73px;
      left: 122px;
    }

    .pin--alligator {
      top: 102px;
      left: 245px;
    }

    .pin--gorilla {
      top: 189px;
      left: 572px;
    }

    .pin--panda {
      top: 90px;
      left: 893px;
    }

    .location__avatar {
      position: absolute;
      top: 12px;
      left: 50%;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateX(-50%);
      @extend %transition;
      pointer-events: none;
    }

    .avatar--eagle {
      background-image: url(./assets/img/avatar/eagle-avatar.png);
    }

    .avatar--alligator {
      background-image: url(./assets/img/avatar/alligator-avatar.png);
    }

    .avatar--gorilla {
      background-image: url(./assets/img/avatar/gorilla-avatar.png);
    }

    .avatar--panda {
      background-image: url(./assets/img/avatar/panda-avatar.png);
    }

    .location__card {
      position: absolute;
      width: 436px;
      height: auto;
      padding: 38px 55px 40px 129px;
      color: var(--secondary-text-color);
      border-radius: 8px;
      background-color: var(--tooltip-color);
      box-shadow: 2px 4px 15px $box-shadow-color;

      .card__title {
        margin-bottom: 2px;
      }

      .card__avatar {
        position: absolute;
        top: 50%;
        left: 44px;
        transform: translateY(-50%);
      }
    }

    .card--eagle {
      display: block;
      top: 170px;
      left: -280px;
      opacity: 0;
      visibility: hidden;
      @extend %transition;
    }

    .card--alligator {
      display: block;
      top: 202px;
      left: -156px;
      opacity: 0;
      visibility: hidden;
      @extend %transition;
    }

    .card--gorilla {
      display: block;
      top: 286px;
      left: 170px;
      opacity: 0;
      visibility: hidden;
      @extend %transition;
    }

    .card--panda {
      display: block;
      top: 188px;
      left: 492px;
      opacity: 0;
      visibility: hidden;
      @extend %transition;
    }
  }
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .primary-map__title {
    margin-bottom: 53px;
  }

  .primary-map__map,
  .secondary-map__map {
    .map__earth {
      width: 900px;
      height: 436px;

      .earth__image {
        background-image: var(--map-min);
      }
    }

    .map__location {
      .pin--eagle {
        top: 53px;
        left: 84px;
      }

      .pin--alligator {
        top: 66px;
        left: 174px;
      }

      .pin--gorilla {
        top: 153px;
        left: 419px;
      }

      .pin--panda {
        top: 67px;
        left: 656px;
      }

      .card--eagle {
        top: 152px;
        left: 100px;
      }

      .card--alligator {
        top: 166px;
        left: 188px;
      }

      .card--gorilla {
        top: 252px;
        left: 432px;
      }

      .card--panda {
        top: 166px;
        left: 272px;
      }
    }
  }
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .primary-map__wrapper {
    padding: 90px 0 80px;
  }

  .primary-map__title {
    margin-bottom: 44px;
  }

  .primary-map__map,
  .secondary-map__map {
    .map__earth {
      width: 600px;
      height: 290px;

      .earth__image {
        background-image: var(--map-min);
      }
    }

    .map__location {
      .pin--eagle {
        top: 6px;
        left: 53px;
      }

      .pin--alligator {
        top: 16px;
        left: 104px;
      }

      .pin--gorilla {
        top: 68px;
        left: 268px;
      }

      .pin--panda {
        top: 12px;
        left: 428px;
      }

      .card--eagle {
        top: 97px;
        left: 80px;
      }

      .card--alligator {
        top: 102px;
        left: 130px;
      }

      .card--gorilla {
        z-index: 1;
        top: 156px;
        left: 80px;
      }

      .card--panda {
        top: 100px;
        left: 34px;
      }
    }
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .primary-map__wrapper {
    padding: 44px 0 59px;
  }

  .primary-map__title {
    margin-bottom: 23px;
  }

  .primary-map__map,
  .secondary-map__map {
    margin-bottom: 31px;

    .map__earth {
      width: 300px;
      height: 146px;

      .earth__image {
        background-image: var(--map-min);
      }
    }

    .map__location {
      .pin--eagle {
        top: 3px;
        left: 25px;
      }

      .pin--alligator {
        top: 11px;
        left: 53px;
      }

      .pin--gorilla {
        top: 37px;
        left: 134px;
      }

      .pin--panda {
        top: 9px;
        left: 217px;
      }

      .location__avatar {
        top: 6px;
        width: 21px;
        height: 21px;
      }

      .location__card {
        width: 238px;
        height: auto;
        padding: 14px 24px 19px 63px;
        color: var(--secondary-text-color);
        border-radius: 8px;
        background-color: var(--tooltip-color);
        box-shadow: 2px 4px 15px $box-shadow-color;

        .card__title {
          margin-bottom: 0px;
        }

        .text {
          @include font-size(1.1rem, 300);
          line-height: 1.5rem;
        }

        .text--bold {
          @include font-size(1.1rem, 600);
        }

        .text--title {
          @include font-size(1.4rem, 900);
        }

        .card__avatar {
          position: absolute;
          top: 16px;
          left: 15px;
          width: 40px;
          height: 40px;
          transform: translateY(0);
        }
      }

      .card--eagle {
        top: 56px;
        left: 30px;
      }

      .card--alligator {
        z-index: 1;
        top: 64px;
        left: 58px;
      }

      .card--gorilla {
        z-index: 1;
        top: 90px;
        left: 32px;
      }

      .card--panda {
        top: 62px;
        left: 6px;
      }
    }
  }
}
