.promo {
  background-image: url(./assets/img/background/promo.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.promo__wrapper {
  position: relative;
  width: 100%;
  padding: 204px 210px 434px;
}

.promo__content {
  @include alignment(flex-start, flex-start, column, nowrap);
  width: 795px;

  .content__title {
    margin-bottom: 37px;
  }

  /*   a {
    align-self: flex-start;
  } */
}

.promo__line {
  position: absolute;
  left: 702px;
  bottom: 340px;

  .line__container {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    height: 13px;

    .container__dots {
      @include alignment(space-between, center, row, nowrap);
      width: 100%;
      height: 100%;

      &::after {
        position: absolute;
        width: calc(100% - 13px);
        height: 1px;
        margin: 0 6.5px;
        content: '';
        background-color: var(--base-color);
      }

      .dot {
        position: relative;
        @include alignment(center, center, row, nowrap);
        width: 13px;
        height: 13px;
        margin-right: 174px;
        border-radius: 50%;
        border: 1px solid var(--base-color);

        &:nth-child(2) {
          margin-right: 224px;
        }

        &:nth-child(3) {
          margin-right: 226px;
        }

        &::after {
          position: absolute;
          display: inline-block;
          width: 5px;
          height: 5px;
          content: '';
          border-radius: 50%;
          background-color: var(--base-color);
        }
      }
    }
  }
}

.promo__slider {
  position: absolute;
  bottom: 168px;
  left: 616px;
  min-width: 1780px;
  height: 400px;
  overflow: hidden;

  .slider__image {
    /* opacity: 0.5; */
    position: relative;
    left: 0;
    @include alignment(center, center, row, nowrap);
    min-width: 1780px;
    height: 450px;
    @extend %transition;

    .image__container {
      z-index: 0;
      min-width: 140px;
      height: 203px;
      margin: 0 23px;
      @extend %transition;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }

      &.container--current {
        position: relative;
        top: -14px;
        width: 245px;
        height: 352px;
        overflow: hidden;
        border-radius: 5px;
        @extend %transition;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          .container__cap {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            @extend %transition;
            /* cursor: default; */
          }

          .container__info {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            @extend %transition;
          }
        }
      }

      .container__cap {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        opacity: 0;
        visibility: hidden;
        border-radius: 5px;
        background-color: $cap-color;
        transform: translateY(100%);
        @extend %transition;
      }

      .container__info {
        bottom: 33px;
        left: 23px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        @extend %transition;
      }
    }

    .container--empty {
      border-radius: 5px;
      background-color: transparent;
      user-select: none;
      cursor: default;
    }
  }
}

.promo__social-header {
  position: absolute;
  bottom: 100px;
  left: 0;

  ul {
    @include alignment(flex-end, center, column, nowrap);

    li {
      margin-top: 4px;
    }
  }
}

.promo__control {
  position: absolute;
  @include alignment(center, center, column, nowrap);
  bottom: 114px;
  right: 362px;

  .control__counter {
    margin-bottom: 8px;
  }
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .promo {
    background-position: center bottom;
  }

  .promo__wrapper {
    padding: 127px 0px 497px;
  }

  .promo__slider {
    bottom: 143px;
    right: -1295px;

    .slider__line {
      left: -116px;
      bottom: 162px;
    }

    .slider__image {
      width: 1745px;

      .image__container {
        width: 180px;
        height: 261px;
        margin: 0 15px;

        &.container--current {
          top: 2px;
        }
      }
    }
  }

  .promo__social-header {
    bottom: 60px;
  }

  .promo__control {
    bottom: 69px;
    right: -28px;
  }
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .promo__wrapper {
    padding: 121px 0px 577px;
  }

  .promo__content {
    width: 600px;

    .content__title {
      margin-bottom: 30px;
    }
  }

  .promo__slider {
    bottom: 175px;
    right: -1297px;

    .slider__line {
      left: 12px;
      bottom: 160px;
    }

    .slider__image {
      width: 1873px;

      .image__container {
        width: 180px;
        height: 261px;
        margin: 0 15px;

        &.container--current {
          top: 2px;
        }
      }
    }
  }

  .promo__social-header {
    bottom: 88px;
  }

  .promo__control {
    bottom: 100px;
    right: 34px;
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .promo__wrapper {
    padding: 91px 0px 339px;
  }

  .promo__content {
    width: 300px;

    .content__title {
      margin-bottom: 16px;
    }
  }

  .promo__slider {
    bottom: 103px;
    right: -772px;

    .slider__line {
      left: 41px;
      bottom: 100px;
    }

    .slider__image {
      width: 1116px;

      .image__container {
        width: 113px;
        height: 164px;
        margin: 0 5px;

        &.container--current {
          top: 2px;
          width: 140px;
          height: 202px;
        }

        .container__info {
          bottom: 12px;
          left: 8px;
        }
      }
    }
  }

  .promo__control {
    bottom: 49px;
    right: 22px;

    .control__counter {
      margin-bottom: -4px;
    }
  }

  .promo__social-header {
    display: none;
  }
}
