.testimonials__wrapper {
  @include alignment(space-between, center, column, nowrap);
  width: 100%;
  padding: 91px 0 100px;
}

.testimonials__title {
  margin-bottom: 38px;
}

.testimonials___arrow {
  position: absolute;
  top: 46%;
  left: 50%;
  @include alignment(space-between, center, row, nowrap);
  width: 81%;
  transform: translate(-50%, -50%);
}

.testimonials__slider {
  position: relative;
  @include alignment(space-between, center, row, nowrap);
  width: 1230px;
  margin-bottom: 31px;
  overflow: hidden;

  .slider__image {
    position: relative;
    left: -1230px;
    @include alignment(flex-start, center, row, nowrap);
    @extend %transition;

    .image__container {
      z-index: 1;
      @include alignment(flex-start, center, column, nowrap);
      min-width: 585px;
      height: 310px;
      margin: 15px 15px;
      padding: 47px 72px 0 73px;
      border-radius: 5px;
      background-color: var(--card-color);
      box-shadow: 2px 4px 15px $box-shadow-color;

      .info__avatar {
        z-index: 1;
        margin-bottom: 14px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        border: 1px solid $border-avatar-color;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .info__title {
        margin-bottom: 15px;
      }

      .info__text {
        line-height: 15px;
        letter-spacing: 0.15px;
        color: var(--secondary-text-color);
      }
    }

    /* .info--00 {
      order: 0;
    }

    .info--01 {
      order: 1;
    }

    .info--02 {
      order: 2;
    }

    .info--03 {
      order: 3;
    } */
  }
}

.testimonials__control {
  @include alignment(center, center, column, nowrap);
  margin-bottom: 30px;

  .control__counter {
    margin-bottom: 8px;
  }
}

@media (min-width: $width-desktop-min) and (max-width: $width-desktop-max) {
  .testimonials___arrow {
    top: 46%;
    left: 50%;
    width: 113%;
  }

  .testimonials__slider {
    width: 920px;

    .slider__image {
      left: -920px;

      .image__container {
        min-width: 440px;
        margin: 15px 10px;
        padding: 47px 56px 0 58px;
      }

      /* .info--00 {
        order: 2;
      }

      .info--01 {
        order: 1;
      }

      .info--02 {
        order: 0;
      }

      .info--03 {
        order: 3;
      } */
    }
  }
}

@media (min-width: $width-tablet-min) and (max-width: $width-tablet-max) {
  .testimonials__wrapper {
    padding: 92px 0 100px;
  }

  .testimonials__title {
    margin-bottom: 23px;
  }

  .testimonials___arrow {
    display: none;
  }

  .testimonials__slider {
    @include alignment(flex-start, center, row, nowrap);
    width: 615px;
    margin-bottom: 30px;

    .slider__image {
      left: -615px;
      height: 340px;
      padding: 0 0;

      .image__container {
        min-width: 585px;
        margin: 15px 15px;
      }

      /* .info--00 {
        order: 1;
      }

      .info--01 {
        order: 0;
      }

      .info--02 {
        order: 2;
      }

      .info--03 {
        order: 3;
      } */
    }
  }

  .testimonials__control {
    margin-bottom: 31px;
  }
}

@media (min-width: $width-mobile-min) and (max-width: $width-mobile-max) {
  .testimonials__wrapper {
    padding: 45px 0 50px;
  }

  .testimonials__title {
    margin-bottom: 14px;
  }

  .testimonials___arrow {
    display: none;
  }

  .testimonials__slider {
    @include alignment(flex-start, center, row, nowrap);
    width: 320px;
    margin-bottom: 20px;

    .slider__image {
      left: -320px;
      padding: 0 0;
      height: 393px;

      .image__container {
        min-width: 300px;
        height: 363px;
        margin: 15px 10px;
        padding: 50px 15px 0;

        .info__avatar {
          margin-bottom: 40px;
        }
      }

      /* .info--00 {
        order: 3;
      }

      .info--01 {
        order: 1;
      }

      .info--02 {
        order: 2;
      }

      .info--03 {
        order: 0;
      } */
    }
  }

  .testimonials__control {
    margin-bottom: 21px;
  }
}
